.relative {
  position: relative;
}

.dark-shadow {
  text-shadow: 1px 1px 0 $black;
}

.light-shadow {
  text-shadow: 1px 1px 0 $white;
}

.ribbon {
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 0;
}