.relative {
  position: relative;
}

.dark-shadow {
  text-shadow: 1px 1px 0 $black;
}

.light-shadow {
  text-shadow: 1px 1px 0 $white;
}

.no-border {
  border: 0;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.dropcaps:first-letter {
  font-size: 325%;
  line-height: 1;
  padding: .25rem .25rem 0 0;
  float: left;
  font-weight: bold;
}