$black         : #373a3c; // Bootstrap $gray-dark
$white         : #f7f7f9; // Bootstrap $gray-lightest
$brand-warning : #F19F4D; // Bootstrap $brand-warning
$brand-success : #c6a300; // Bootstrap $brand-success
$brand-danger  : #5cb85c; // Bootstrap $brand-danger
$brand-primary : #4484CE; // Bootstrap $brand-primary