$blue       : #80fff6;
$gold       : #ffb780;
$gray       : #333;
$black      : #000;
$white      : #eee;

$font-sans  : 'Open Sans', sans-serif;
$font-serif : 'Gentium Basic', serif;

$gutter     : 1em;