html {
    font-family: $font-base;
    background-color: $gray-light;
    color: $blue-dark;
}

body {
    font-size: $font-size;
    line-height: $line-height;
}

p {
    margin: $gutter 0;
    font-size: $font-size-body;
    text-indent: $gutter;
}

h1,
h2,
h3 {
    font-family: $font-display; 
    font-weight: bold;
}

a {
    @extend %hover;
}

small {
    font-size: $font-size-small;
}

input,
textarea,
keygen,
select,
button {
    border-color: $black;
    border-width: 1px; 
    border-style: solid;
    color: $blue-light;
    background-color: $blue-dark;
    font-family: $font-display; 
    font-size: $font-size-body; 
    outline: 0;
    padding: ( $gutter / 4 ); 
}

button,
input[type=button] {
    background-color: $gray-dark;
    cursor: pointer;
}

::selection {
    color: $gray-light;
    background-color: $blue-dark; 
}