html {
    font-family: $base-font;
    background-color: $light-gray;
    color: $dark-blue;
}

body {
    font-size: $base-font-size;
    line-height: $line-height;
}

p {
    margin: $gutter 0;
    font-size: $body-font-size;
    text-indent: $gutter;
}

h1,
h2,
h3 {
    font-family: $display-font; 
    font-weight: bold;
}

a {
    @extend %hover;
}