html {
    font-family: $font-base;
    background-color: $gray-light;
    color: $blue-dark;
}

p {
    margin: $gutter 0;
    font-size: $font-size-body;
    text-indent: $gutter;
}

h1,
h2,
h3 {
    font-family: $font-display; 
    font-weight: bold;
}

a {
    @extend %hover;
}

small {
    font-size: $font-size-small;
}

input,
textarea,
keygen,
select,
button {
    width: 80%;
    border-color: $gray-light;
    color: $gray-light;
    background-color: $blue-dark;
    font-family: $font-display; 
    font-size: $font-size-body; 
    outline: 0;
    padding: ( $gutter / 4 ); 
}

::selection {
    color: $gray-light;
    background-color: $blue-dark; 
}