// Wrap
%wrap {
  max-width: $max;
  margin-right: auto;
  margin-left: auto; 
}

// Hover Change
%hover {
    &:hover {
      color: $blue-light;
      border-bottom: solid 1px $blue-light;
      
      @include bp-small {
        border: none;
      }
    }
}

// Panels
%panel {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    min-height: $gutter * 15;
    margin-bottom: $gutter;
}