// Colors
$blue-light:        #92C5DF;
$blue-dark:         #37474F;

$gray-light:        #eeeeee;
$gray-dark:         #333333;

$black:             #222222;

// Breakpoints
$small:             920px;

// Typography
$font-size:         16px; // Base

$font-size-small:   0.75rem;
$font-size-body:    1.125rem;
$font-size-medium:  1.82rem;
$font-size-large:   2.2rem;

// Spacing
$line-height:       1.4;
$gutter:            40px;

// Fonts
$font-display:      'Comfortaa', cursive;
$font-base:         'Bitter', serif;

// Max Width (Containers)
$max:               960px;

// Transitions
$transition-speed:  .4s;