// Colors
$dark-blue:     #37474F;
$light-blue:    #92C5DF;
$light-gray:    #eeeeee;
$dark-gray:     #333333;
$black:         #222222;

// Breakpoints
$small:         920px;

// Typography
$display-font:  'Comfortaa', cursive;
$base-font:     'Bitter', serif;
$gutter:         40px;

// Max Width (Containers)
$max:           960px;