/* Colors */
$dark-blue:     #37474F;
$light-blue:    #92C5DF;
$light-gray:    #F5F5F5;
$dark-gray:     #333333;
$black:         #222222;

/* Breakpoints */
$small:         900px;

/* Typography */
$display-font:  'Comfortaa', cursive;
$base-font:     'Bitter', serif;
$space:         1.5rem;

/* Max Width (Containers) */
$max:           960px;