.container
    .header
        h3.text-muted Interfaith Food Bank
    .jumbotron
        p.lead
            | Founded in XXXX, Inter-Faith Food Bank works with local non-profit organizations to deliver food to millions all over California.
    .row.marketing
        .col-lg-4
            h4 Individual or family looking for food?
            p Please contact our affiliate service 
                a(href="http://stocktonfoodbank.org") Emergency Food Bank
        .col-lg-4
            h4 Non-profit organization looking to receive food for distribution?
            p Please come in and visit us at:
            pre
                | 2209 Main Street
                | Stockton, Ca
                | 95205
        .col-lg-4
            h4 Looking to donate?
            p Please give us a call at:
                a(href="tel:209-460-1044") &nbsp;209.460.1044
    .footer
        p: &copy;&nbsp;
            a(href="http://zerodaedalus.com") Zero Daedalus
            | &nbsp;2014
