.donate-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    font-family: $font-display;
}

.info-group,
.btn-group {
    margin: $gutter / 4 0;
}

/* 
    .info-group only shows in JS-enabled browsers
 */

.info-group {
    input {
        flex: 1 $gutter * 8;
        margin: 2px;
    }   
    display: flex;
    flex: 100%;
    flex-flow: row wrap;
}

.btn-group {
    a {
        flex: 1 $gutter * 5;
        margin: 2px; 
    }
    flex: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}