.donate-form {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    font-family: $font-display
}

.info-group {
    flex: 100%;
    display: flex;
    flex-flow: row wrap;
    input {
        flex: 1 $gutter * 8;
    }    
}

.btn-group {
    flex: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    input {
        flex: 1 $gutter * 5;
        
        &:hover {
            background-color: $gray-light;
            color: $gray-dark;
        }
    }
}