.donate-form {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    font-family: $font-display;
}

.info-group,
.btn-group {
    margin: $gutter / 4 0;
}

.info-group {
    flex: 100%;
    display: flex;
    flex-flow: row wrap;
    input {
        flex: 1 $gutter * 8;
        margin: 2px;
    }    
}

.btn-group {
    a {
        flex: 1 $gutter * 5;
        transition: $transition-speed;
        text-align: center;
        padding: $gutter / 4;
        margin: 2px;
        font-size: $font-size-body;
        border: 1px solid $gray-dark; 
        background-color: $blue-light; 
        
        &:hover {
            background-color: $gray-dark;
            color: $blue-light;
        }
    }
    flex: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}