.site-heading {
    @extend %wrap;
    text-align: center;
    display: inline-block;
    padding-top: $gutter * 2;
    font-size: $font-size-large;
    width: 100%;
    @include bp-small {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }
}

.site-title {
    @include text-shadow($color: $gray-light, $blur: 0);
    margin: 0 auto;
    width: 100%;
    padding-bottom: $gutter; 
}