.site-heading {
    @extend %wrap;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-top: $gutter * 2;
    font-size: $font-size-large;
    width: 100%;
    @include bp-small {
        text-align: center;
        display: inline-block;
    }
}

.site-title {

    @include text-shadow($color: $gray-light, $blur: 0);
    @include bp-small {
        margin: 0 auto;
        width: 100%;
        padding-bottom: $gutter; 
    }
}

.site-nav {
    color: $gray-light;
    font-size: $font-size-medium;
    font-weight: bold; 
    @include text-shadow($blur: 0, $color: $blue-dark);
    @include bp-small {
        width: 100%;
    }
    
    li {
        display: inline-block; 
        margin-left: $gutter;
        @include bp-small {
            width: 100%;
            margin-left: 0;
            padding-bottom: $gutter; 
        }
    }
}