.site-heading {
    @extend %wrap;
    padding-top: $gutter * 2;
    @include bp-small {
        text-align: center;
    }
}

.site-title {
    float: left;
    margin-left: $gutter; 
    font-size: 2.618rem;
    @include text-shadow($color: $light-gray, $blur: 0);
    
    a {
        @extend %hover;
    } 

    @include bp-small {
        margin: 0 auto;
        width: 100%;
        padding-bottom: $gutter; 
    }
}

.site-nav {
    float: right;
    color: $light-gray;
    @include text-shadow($blur: 0, $color: $dark-blue);
    @include bp-small {
        width: 100%;
    }
    
    li {
        font-size: 1.618rem;
        display: inline-block;
        margin-right: $gutter;
        padding-bottom: $gutter; 
        
        a {
            @extend %hover;
        }
        
        @include bp-small {
            width: 45%;
        }
    }
}