// Custom Elements
.landing {
  background-color: $white;
  // color: $white;
}

// Bootstrap Overrides
.card {
  border: 0;
}

.navbar-dark .navbar-brand {
  color: $white;
}

.modal .bg-warning,
.modal .bg-info {
  color: rgb(55, 58, 60) !important;
}