// Custom Elements
.img-carousel {
  background-color: rgb(55, 58, 60);
  border: 1px solid rgba(0,0,0, .125);
  // box-shadow: inset 0 0 .2rem $black;
  box-shadow: inset 0 1rem 1rem -1rem $black, inset 0 -1rem 1rem -1rem $black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  .item {
    margin: 1rem;
    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: .25rem;
      border: 1px solid rgba(0,0,0,.125);
    }
  }
}

.landing {
  background-color: $white;
  // color: $white;
}

// Bootstrap Overrides
.card {
  border: 0;
}

.navbar-dark .navbar-brand {
  color: $white;
}

.modal .bg-warning,
.modal .bg-info {
  color: rgb(55, 58, 60) !important;
}

.modal-open {
  padding-right: 0 !important;
}